<!DOCTYPE html>
<head>
  <title>Gary</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='gary.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='gary.png') }}" class="icon" />
  <h3>Ask Gary</h3>
  <form action="/" method="post">
    <input type="text" name="gary_prompt" placeholder="What would you like to ask Gary?" required />
    <input type="submit" value="Get response" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
